style.
    h2 {
        display: flex;
        align-items: center;
        gap: 5px
    }

    table, td, th {
        border: none;
    }

    th {
        text-align: left;
        vertical-align: bottom;
    }

    tr:has(th) td {
        padding-top: 1em;
    }

    a:has(button) {
        margin-left: 5px;
    }

main
    pre(style={display: 'none'})= JSON.stringify(user, null, 2)
    //pre= assetId
    pre(style={display: 'none'})= JSON.stringify(asset, null, 2)
    h2
        = asset.name
        if user && user.customClaims && user.customClaims.admin
            a(target='_blank', href=`https://api.qrserver.com/v1/create-qr-code/?data=${encodeURIComponent(`https://kanyarent.web.app/asset/${encodeURIComponent(assetId)}`)}`)
                button QR code
    if asset.description
        p= asset.description
    if asset.pictureUrl
        img(src=asset.pictureUrl)
    table
        mixin user(role, targetUser)
            pre(style={display: 'none'})= JSON.stringify(targetUser, null, 2)
            tr
                th= role[0].toUpperCase() + role.slice(1)
                td
                    = targetUser ? targetUser.displayName : "none"
                    if user && user.customClaims && user.customClaims.admin
                        a(href=`${encodeURIComponent(assetId)}/edit/${role}` + (targetUser ? `?previousUid=${encodeURIComponent(targetUser.uid)}` : ""))
                            if targetUser
                                button Change
                            else
                                button Assign
            if targetUser
                if targetUser.email
                    tr
                        td Email
                        td= targetUser.email
                if targetUser.address
                    tr
                        td Address
                        td= targetUser.address
                if targetUser.phoneNumber
                    tr
                        td Phone
                        td= targetUser.phoneNumber
        +user("base", baseUser)
        +user("owner", ownerUser)
